@import "~bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

#root{
    background: url('../../images/salad_background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}